

.search-container{

    width: 50%;
    height: 100%;
    background: var(--fifth);
}

.search-box{

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

input{
    list-style: none !important;
}

.search_input{
    list-style: none;
    outline: none;
    border-radius: 5px;
    width: 80%;
    padding: 12px 15px;
    font-size: 1.2em;
    background: var(--first);
    color: var(--fourth);
    letter-spacing: 2px;
}