*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{

    --primary:#17191d;
    --secondary:#f8f8f8;
    --third:#da1e85;
    --fourth: rgb(12, 199, 137);
    --fifth:#6474d1;
    --first : rgba(0,0,0,0.8);
    --second : #f8f8f8;
    --sixth: rgb(148, 143, 143);
}


.body-component{

    width: 100vw;
    height: 90vh;
    display: flex;
    flex: row; 
}
